@model Zambon.Core.Module.Xml.Views.ListViews.ListView

<div class="row no-gutters commands-container mb-2">
    <div class="col-md-auto page-title pr-3">
        <h2>@Model.Title</h2>
    </div>
    <div class="col">
        <div>
            <div class="card bg with-bg white"></div>
            <div class="card-body p-1">
                @Html.Partial("./ViewPanel.cshtml", Model)
            </div>
        </div>
    </div>
</div>

<section id="@(Model.ViewId)_container">
    @Html.Partial("./ViewForm.cshtml", Model)
</section>

@if (Model.SubViews != null)
{
    Model.SubViews.CurrentLevel = 0;
    <partial name="../SubViews.cshtml" model="@Model.SubViews" />
}

<partial name="../DetailView/Scripts.cshtml" model="@Model" />