@model Zambon.Core.Module.Xml.Views.ListViews.ListView

@inject Zambon.Core.Module.Services.ApplicationService app

@if ((Model.SearchProperties?.SearchProperty?.Length ?? 0) > 0)
{
    <form id="@(Model.ViewId)_Search" class="input-group" asp-controller="View" asp-action="ListView" data-ajax="true" data-ajax-method="POST" data-ajax-update="#@(Model.ViewId)_container" data-ajax-begin="AjaxBegin" data-ajax-failure="AjaxFailure" data-ajax-success="AjaxSuccess" data-ajax-complete="AjaxComplete" data-ajax-update-loading="body" role="form">
        
        <button type="submit" class="btn btn-secondary mr-1"><span class="oi oi-magnifying-glass"></span></button>
        @{
            var searchOptions = app.GetListViewSearchOptions(Model.ViewId);
        }

        <div class="input-group-prepend">
            <select id="@(Model.ViewId)_Search_SearchProperty" name="SearchProperty" asp-for="@searchOptions.SearchProperty" class="btn btn-outline-secondary combo rounded-left" onchange="ChangeSearchProperty(this)">
                @for (var i = 0; i < Model.SearchProperties.SearchProperty.Length; i++)
                {
                    <option value="@Model.SearchProperties.SearchProperty[i].PropertyName"
                            data-search-type="@Model.SearchProperties.SearchProperty[i].SearchType"
                            data-search-default-value="@Model.SearchProperties.SearchProperty[i].DefaultValue">
                        @Model.SearchProperties.SearchProperty[i].DisplayName
                    </option>
                }
            </select>
        </div>

        <input type="text" class="form-control rounded-right search-text" id="@(Model.ViewId)_Search_SearchText" name="SearchText" asp-for="@searchOptions.SearchText" style="@(Model.SearchProperties.SearchProperty[0].SearchType == "Text" ? "" : "display:none;")" />

        <input type="number" class="form-control @(Model.SearchProperties.SearchProperty[0].SearchType == "Number" ? "rounded-right" : "") search-number1" id="@(Model.ViewId)_Search_SearchNumber1" name="SearchNumber1" asp-for="@searchOptions.SearchNumber1" style="@(Model.SearchProperties.SearchProperty[0].SearchType == "Number" || Model.SearchProperties.SearchProperty[0].SearchType == "NumberRange" ? "" : "display:none;")" />
        <input type="number" class="form-control rounded-right search-number2" id="@(Model.ViewId)_Search_SearchNumber2" name="SearchNumber2" asp-for="@searchOptions.SearchNumber2" style="@(Model.SearchProperties.SearchProperty[0].SearchType == "NumberRange" ? "" : "display:none;")" />

        <input type="text" class="form-control datepicker @(Model.SearchProperties.SearchProperty[0].SearchType == "DateTime" ? "rounded-right" : "") search-datepicker1" data-date-format="dd/mm/yy" data-alt-field="#Search_SearchDateTime1" data-alt-format="yy-mm-dd" value="" style="@(Model.SearchProperties.SearchProperty[0].SearchType == "DateTime" || Model.SearchProperties.SearchProperty[0].SearchType == "DateTimeRange" ? "" : "display:none;")" />
        <input type="text" class="form-control datepicker rounded-right search-datepicker2" data-date-format="dd/mm/yy" data-alt-field="#Search_SearchDateTime2" data-alt-format="yy-mm-dd" value="" style="@(Model.SearchProperties.SearchProperty[0].SearchType == "DateTimeRange" ? "" : "display:none;")" />

        <input type="hidden" class="search-date1" id="@(Model.ViewId)_Search_SearchDateTime1" name="SearchDateTime1" asp-for="@searchOptions.SearchDateTime1" />
        <input type="hidden" class="search-date2" id="@(Model.ViewId)_Search_SearchDateTime2" name="SearchDateTime2" asp-for="@searchOptions.SearchDateTime2" />

        <input type="hidden" id="@(Model.ViewId)_Search_ViewId" name="ViewId" asp-for="@Model.ViewId" />

        <script>
            PopulateDatePickers($('#@(Model.ViewId)_Search'));
        </script>
    </form>
}