@model Zambon.Core.Module.Xml.Views.SubViews.LookupModal

<div class="rounded mb-2 table-scrollable scrollable-md" style="border: 1px solid rgba(0,0,0,.125);">
    @Html.Partial("./LookupModalView_Table.cshtml", Model)
</div>

<input type="hidden" id="@(Model.Id)_ParentViewId" name="ParentViewId" asp-for="@Model.ParentViewId" />
<input type="hidden" id="@(Model.Id)_ModalId" name="ModalId" asp-for="@Model.Id" />
<input type="hidden" id="@(Model.Id)_ViewId" name="ViewId" asp-for="@Model.ViewId" />

@{
    var view = (Zambon.Core.Module.Xml.Views.ListViews.LookupView)Model.View;
    var searchOptions = view.SearchOptions;
    var postBackOptions = view.PostBackOptions;
}

<input type="hidden" id="@(Model.Id)_SearchProperty" name="SearchProperty" asp-for="@searchOptions.SearchProperty" />
<input type="hidden" id="@(Model.Id)_SearchText" name="SearchText" asp-for="@searchOptions.SearchText" />
<input type="hidden" id="@(Model.Id)_SearchNumber1" name="SearchNumber1" asp-for="@searchOptions.SearchNumber1" />
<input type="hidden" id="@(Model.Id)_SearchNumber2" name="SearchNumber2" asp-for="@searchOptions.SearchNumber2" />
<input type="hidden" id="@(Model.Id)_SearchDateTime1" name="SearchDateTime1" asp-for="@searchOptions.SearchDateTime1" />
<input type="hidden" id="@(Model.Id)_SearchDateTime2" name="SearchDateTime2" asp-for="@searchOptions.SearchDateTime2" />

<input type="hidden" id="@(Model.Id)_PostbackActionName" name="PostbackActionName" asp-for="@postBackOptions.PostbackActionName" />
<input type="hidden" id="@(Model.Id)_PostbackFormId" name="PostbackFormId" asp-for="@postBackOptions.PostbackFormId" />