@model Zambon.Core.WebModule.Models.IndexModel

<div class="carousel slide with-bg white mb-3 rounded p-3">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <p class="lead">@Model.Title01</p>
            <h1 class="display-4">@Model.Title02</h1>
            <h3>@Model.Title03</h3>
        </div>
    </div>
</div>

<div class="card-deck">

    @if (!string.IsNullOrWhiteSpace(Model.Panel01_Title))
    {
        <div class="card with-bg white">
            <div class="card-header pl-3">
                <div class="media">
                    @if (!string.IsNullOrWhiteSpace(Model.Panel01_IconName))
                    {
                        <span class="oi oi-@Model.Panel01_IconName mr-1 bg-@Model.Panel01_IconColor border-@Model.Panel01_IconColor text-white rounded-circle border" style="@Model.Panel01_IconStyle"></span>
                    }
                    <div class="media-body">
                        <h4 class="mt-0 mb-0">@Model.Panel01_Title</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text" static-text-for="Home_Panel1_Content"></p>
            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Panel02_Title))
    {
        <div class="card with-bg white">
            <div class="card-header pl-3">
                <div class="media">
                    @if (!string.IsNullOrWhiteSpace(Model.Panel02_IconName))
                    {
                        <span class="oi oi-@Model.Panel02_IconName mr-1 bg-@Model.Panel02_IconColor border-@Model.Panel02_IconColor text-white rounded-circle border" style="@Model.Panel02_IconStyle"></span>
                    }
                    <div class="media-body">
                        <h4 class="mt-0 mb-0">@Model.Panel02_Title</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text" static-text-for="Home_Panel2_Content"></p>
            </div>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Panel03_Title))
    {
        <div class="card with-bg white">
            <div class="card-header pl-3">
                <div class="media">
                    @if (!string.IsNullOrWhiteSpace(Model.Panel03_IconName))
                    {
                        <span class="oi oi-@Model.Panel03_IconName mr-1 bg-@Model.Panel03_IconColor border-@Model.Panel03_IconColor text-white rounded-circle border" style="@Model.Panel03_IconStyle"></span>
                    }
                    <div class="media-body">
                        <h4 class="mt-0 mb-0">@Model.Panel03_Title</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text" static-text-for="Home_Panel3_Content"></p>
            </div>
        </div>
    }
</div>