@model Zambon.Core.Module.Xml.Views.DetailViews.DetailView

@*@if (Model.FormEnctype == "multipart/form-data")
{
    <form id="@Model.ViewId" enctype="multipart/form-data" data-postaction="@Url.Action(Model.ActionName, Model.ControllerName)" data-postupdate="#@(Model.ViewId)_container" class="form-horizontal" role="form" onsubmit="return FormUploadSubmit(this);">
        <section id="@(Model.ViewId)_container">
            @Html.Partial(Model.ViewURL, model: null)
        </section>
    </form>
}
else if (!string.IsNullOrWhiteSpace(Model.ControllerName) && !string.IsNullOrWhiteSpace(Model.ActionName))
{
    <form id="@Model.ViewId" asp-controller="@(Model.ControllerName)" asp-action="@(Model.ActionName)" data-ajax="true" data-ajax-method="POST" data-ajax-failure="AjaxOnFaiulre" data-ajax-begin="AjaxShowLoader(this)" data-ajax-complete="AjaxComplete(this)" data-ajax-success="AjaxOnSuccess" data-ajax-update="#@(Model.ViewId)_container" class="form-horizontal" role="form">
        <section id="@(Model.ViewId)_container">
            @Html.Partial(Model.ViewURL, model: null)
        </section>
    </form>
}
else
{
    <section id="@(Model.ViewId)_container">
        @Html.Partial(Model.ViewURL, model: null)
    </section>
}

@if (Model.Scripts != null && Model.Scripts.Script.Length > 0)
{
    for (var s = 0; s < Model.Scripts.Script.Length; s++)
    {
        if (!string.IsNullOrWhiteSpace(Model.Scripts.Script[s].Src))
        {
            <script src="@Url.Content(Model.Scripts.Script[s].Src)"></script>
        }
    }
}*@