@model Zambon.Core.Module.Xml.Views.DetailViews.DetailView

@inject Zambon.Core.Module.Services.ApplicationService app

<partial name="./DetailView_Header.cshtml" model="Model" />

<div class="container-fluid pl-0 pr-0 mb-3">

    <div class="row pl-3 pr-3">
        <div asp-validation-summary="All"></div>
    </div>

    @{
        var currentObject = app.GetDetailViewCurrentObject(Model.ViewId);
        var currentView = app.GetDetailViewCurrentView(Model.ViewId);
    }

    @if (currentObject != null)
    {
        @if (currentObject is Zambon.Core.Database.Entity.BaseDBObject)
        {
            <input type="hidden" name="ID" asp-for="@(((Zambon.Core.Database.Entity.BaseDBObject)currentObject).ID)" />
        }
        <input type="hidden" name="ViewId" value="@Model.ViewId" />
        <input type="hidden" id="@(Model.ViewId)_CurrentTabId" name="CurrentTabId" value="@(TempData["CurrentTabId"])" />

        <partial name="@currentView" model="@currentObject" />
    }
</div>

@*<div class="card" button-for="@Model.Buttons?.Button" button-current-object="@currentObject" button-target="DetailFooter">
    <div class="card-body m-1 text-center">

    </div>
</div>*@