<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title></title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" core-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.min.css" core-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.min.css" core-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery_ui_dist/jquery-ui.min.css" core-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome_free/css/all.min.css" core-append-version="true" />
    <link rel="stylesheet" href="~/lib/flagpack/css/flagpack.css" core-append-version="true" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/Drawer.css" />
    </environment>

    <environment exclude="Development">

    </environment>

    <script>
        var urlPath = "@(Url.Content("~/") == "/" ? "" : Url.Content("~/"))";
        var numeralDecimalMark = '@(System.Globalization.CultureInfo.CurrentUICulture.NumberFormat.NumberDecimalSeparator)';
        var numeralGroupDelimiter = '@(System.Globalization.CultureInfo.CurrentUICulture.NumberFormat.CurrencyGroupSeparator)';
    </script>
</head>

<body>

    <div class="container-fluid p-0 h-100">
        <div id="drawerContainer" class="row min-vh-100 no-gutters d-flex h-100 position-relative drawer drawer-expanded">
            <partial name="./Components/Drawer/Sidebar.cshtml" />

            <div class="col background-main">
                <div class="row no-gutters">
                    <div class="navbar-top container-fluid bg-white">
                        <div class="row no-gutters d-flex h-100 position-relative">
                            <partial name="./_Topbar.cshtml" />
                        </div>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.slim.min.js" core-append-version="true"></script>
    <script src="~/lib/jquery_validation_unobtrusive/jquery.validate.unobtrusive.min.js" core-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" core-append-version="true"></script>
    <script src="~/lib/jquery_ui_dist/jquery-ui.min.js" core-append-version="true"></script>
    <script src="~/lib/cleave.js/cleave.min.js" core-append-version="true"></script>

    @*<script src="~/js/Formatters.js?version=2.2.0"></script>*@

    <environment include="Development">
        <script src="~/js/Drawer.js"></script>
    </environment>

    <environment exclude="Development">

    </environment>

    <script>
        new Drawer('drawerCollapse', 'drawerContainer', 'drawer');
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>