<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title></title>

    @*<link rel="stylesheet" href="~/js/jquery_ui/themes/base/jquery-ui.css">*@

    <link rel="stylesheet" href="~/css/bootstrap-4.3.1.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-4.3.1-grid.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-4.3.1-reboot.min.css" />
    <link rel="stylesheet" href="~/css/fontawesome-5.9.0.min.css" />
    <link rel="stylesheet" href="~/css/flags.min.css?version=2.2.0" />

    <script>
        var urlPath = "@Url.Content("~/")";
        if (urlPath == "/") urlPath = "";
    </script>
</head>

<body>

    @* Main content here *@
    @RenderBody()


    <script src="~/js/jquery-3.2.1.min.js"></script>
    @*<script src="~/js/jquery_ui/jquery-ui.js"></script>*@
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/js/popper-1.15.0.min.js"></script>
    <script src="~/js/bootstrap-4.3.1.min.js"></script>
    <script src="~/js/cleave-1.5.3.min.js"></script>

    <script>
        var numeralDecimalMark = '@(System.Globalization.CultureInfo.CurrentUICulture.NumberFormat.NumberDecimalSeparator)';
        var numeralGroupDelimiter = '@(System.Globalization.CultureInfo.CurrentUICulture.NumberFormat.CurrencyGroupSeparator)';
    </script>
    @*<script src="~/js/Formatters.js?version=2.2.0"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>