<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title></title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery_ui_dist/jquery-ui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome_free/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/flagpack/css/flagpack.css" asp-append-version="true" />

    <script>
        var urlPath = "@Url.Content("~/")";
        if (urlPath == "/") urlPath = "";
    </script>
</head>

<body>

    @* Main content here *@
    @RenderBody()


    <script src="~/lib/jquery/jquery.slim.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery_validation_unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper.js/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery_ui_dist/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/cleave.js/cleave.min.js" asp-append-version="true"></script>

    <script>
        var numeralDecimalMark = '@(System.Globalization.CultureInfo.CurrentUICulture.NumberFormat.NumberDecimalSeparator)';
        var numeralGroupDelimiter = '@(System.Globalization.CultureInfo.CurrentUICulture.NumberFormat.CurrencyGroupSeparator)';
    </script>
    @*<script src="~/js/Formatters.js?version=2.2.0"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>